body {
  font-family: 'Comfortaa', cursive;
}

h1 {
  display: inline;
  margin: 0 5px;
}

.score {
  display: inline
}

input[type="number"] {
  display: block;
  margin-top: 20px;
}

button {
  margin-top: 20px;
}
